<div id="main"></div>

<script id="appViewTemplate" type="template/underscore">
  <h1>Click to book your seat</h1>
  <div id="reservations">
  </div>
</script>
<br />
<div id="backToFlights">
<a href="flights" class="btn btn-primary">Flights</a>
</div>
